.address-list {
  position: relative;
  flex: 1 0 40%;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 3px;
  border: 1px dashed #4267b2;
  margin: 0px 0px 20px 20px;
  max-width: calc(50% - 20px);
  padding: 10px 15px;
}

.shipping-container__tittle {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}
.shipping-container__options {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}
.edit-address {
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  padding: 6px 14px;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  outline-color: rgb(204, 204, 204);
  background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
  height: 31px;
  font-size: 12px;
  border: 1px solid rgb(204, 204, 204);
  margin-right: 7px;
}
.saving-address {
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  padding: 6px 14px;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  outline-color: rgb(204, 204, 204);
  /* background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247)); */
  text-transform: none;
  height: 31px;
  font-size: 12px;
  margin-right: 10px;
}
.shipping__action {
  margin-top: 20px;
}
.shipping__name {
  font-weight: bold;
}
